.borderCounter {
    border: 6px solid #7acee9;
    width: 360px;
    height: 255px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.windowCounter {
    border: 6px solid #7acee9;
    border-radius: 8px;
    width: 325px;
    height: 126px;
    color: #7acee9;
    font-size: 43px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

}
.windowBTN{
    border: 6px solid #7acee9;
    border-radius: 8px;
    width: 325px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.counterFlex{

}
.windowSetCounter{
    width: 305px;
    height: 126px;
    border: 6px solid #7acee9;
    border-radius: 8px;
    padding: 10px;
}
.maxMin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.maxMin h3{
    color: #7acee9;
}
.maxMin input{
width: 70px;
}
.maxCount{
    color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
}
input{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.errorText{
    font-size: 20px;
    font-weight: 700;
    color: red;
    text-align: center;
}
.text{
color: #292c35;
    font-size: 20px;
}
.inputError{
    background-color: #f44336;
}