.wrapper {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);

}
.closeBtn{
    position: absolute;
    top: 1rem;
    right: 1rem;
}